<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<body>

<aside th:fragment="menu">
    <aside class="menu">
        <nav class="tiles">
            <div class="tile profile-info" th:if="${session.user}">
                <div>
                    <p th:text="#{menu.name} + ': ' + ${session.user.username}"></p>
                    <p th:text="#{menu.email} + ': ' + ${session.user.email}"></p>
                </div>
                <form class="tile" method="POST" th:action="@{/logout}" th:if="${session.user}">
                    <button type="submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p data-th-text="#{menu.log-out}"></p>
                    </button>
                </form>
            </div>
            <a class="tile" href="/login" th:unless="${session.user}">
                <i class="fa-solid fa-user"></i>
                <span data-th-text="#{menu.log-in}"></span>
            </a>
            <a class="tile" href="/register" th:unless="${session.user}">
                <i class="fa-solid fa-address-card"></i>
                <span data-th-text="#{menu.register}"></span>
            </a>
            <a class="tile" href="/admin-panel" sec:authorize="hasRole('ADMIN')">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span data-th-text="#{menu.admin-panel}"></span>
            </a>
            <a class="tile" href="/top500">
                <i class="fa-solid fa-ranking-star"></i>
                <span data-th-text="#{menu.top500}"></span>
            </a>
            <a class="tile" href="/inactive-movies">
                <i class="fa-solid fa-list"></i>
                <span data-th-text="#{menu.inactive-movies}"></span>
            </a>
            <a class="tile" href="/polish-movies">
                <div class="icons">
                    <i class="fa-solid fa-p"></i><i class="fa-solid fa-l"></i>
                </div>
                <span data-th-text="#{menu.polish-movies}"></span>
            </a>
            <a class="tile" href="/posts">
                <i class="fa-solid fa-newspaper"></i>
                <span data-th-text="#{menu.news}"></span>
            </a>
            <a class="tile" href="/about-author">
                <i class="fa-solid fa-face-grin-beam"></i>
                <span data-th-text="#{menu.about}"></span>
            </a>
            <a sec:authorize="!hasRole('ADMIN')" class="tile bug-report" href="/bug-reports-form">
                <i class="fa-solid fa-bug"></i>
                <span data-th-text="#{menu.bug}"></span>
            </a>
            <a sec:authorize="hasRole('ADMIN')" class="tile bug-report" href="/bug-reports">
                <i class="fa-solid fa-bug"></i>
                <span data-th-text="#{menu.bug}"></span>
            </a>
        </nav>
    </aside>
</aside>

</body>
</html>