<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<aside th:fragment="menu">
    <aside class="menu">
        <nav class="tiles">
            <div class="tile profile-info" th:if="${session.user}">
                <p th:text="'Username: ' + ${session.user.username} + ', Email: ' + ${session.user.email}"></p>
            </div>
            <div th:unless="${session.user}" class="tile">login</div>
            <div th:unless="${session.user}" class="tile">register</div>
            <div sec:authorize="hasRole('ADMIN')" class="tile">admin panel</div>
            <div class="tile">top 500</div>
            <div class="tile">all movies</div>
            <div class="tile">news</div>
            <div class="tile">about author</div>
            <div class="tile bug-report">report a bug</div>
        </nav>
    </aside>
</aside>

</body>
</html>