<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="page-menu">
    <div class="page-menu" th:if="${totalPages > 1}">

        <a th:href="@{${url} + 1}" th:if="${currentPage != 1}">First</a>
        <span th:unless="${currentPage != 1}">First</span>

        <a th:href="@{${url} + ${currentPage - 1}}" th:if="${currentPage > 1}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>

        <div>
            <span>Page <input class="page-input" th:value="${currentPage}" type="number"> of</span>
            <span class="page-max" th:text="${totalPages}"></span>
        </div>

        <a th:href="@{${url} + ${currentPage + 1}}" th:if="${currentPage < totalPages}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>

        <a th:href="@{${url} + ${totalPages}}" th:if="${currentPage < totalPages}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>

        <script th:inline="javascript">
            const url = [[${url}]];
        </script>
    </div>
</div>

</body>
</html>