@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import "variables.css";
@import "animations.css";

@import "menu.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: var(--colour-silver);
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 15px;
    background: var(--colour-grey);
    color: var(--colour-green-light);
}

.header .logo {
    max-width: 100%;
    max-height: 8vh;
}

.header .menu-icon {
    font-size: 30px;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.header .menu-icon.active::before {
    content: "\f00d";
    font-size: 38px;
    animation-name: fade-in;
    animation-duration: .6s;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 84vh;
    max-width: 1024px;
    margin: auto;
    padding: 6px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 6vh;
    font-size: 20px;
    background: var(--colour-grey);
    color: var(--colour-green-light);
}

h1 {
    margin-bottom: 10px;
}

.block-of-text {
    padding: 5px 10px;
    text-align: justify;
    font-size: 20px;

}

.table {
    width: calc(100vw - 2 * 6px);
    margin: 6px;
    border: solid 1px;
    border-collapse: collapse;
    font-size: 13px;
}

.table button {
    padding: 0 3px;
    text-transform: capitalize;
}

.table thead {
    background-color: var(--colour-green-dark);
}

.table tr:nth-child(even) {
    background-color: #cccccc;
}

.table td,
.table th {
    border: 1px solid #444;
    padding: 3px;
    text-align: center;
}

.page-menu {
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.page-menu a {
    color: var(--colour-green-dark);
}

.page-input {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 20%;
    text-align: center;
    line-height: 20px;
}

.news-header {
    margin: 6px;
}

.post-form input,
.post-form textarea {
    width: 100%;
    margin: 2px 0;
}

.post-form .content-box {
    min-height: 100px;
}

.single-post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--colour-green-dark);
}

.post-content {
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--colour-silver-dark);
}

.post-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.like-icon.active {
    color: var(--colour-green-dark);
}

.like-icon:hover {
    color: var(--colour-green-light);
    cursor: pointer;
}

.socials {
    margin: 15px auto;
    text-align: center;
}

.github-logo {
    font-size: 100px;
    color: var(--colour-green-dark);
}

.github-logo:hover {
    opacity: .75;
}

.bug-report-form {
    width: 100%;
    margin: 8px 0;
}

.bug-report-form * {
    width: 100%;
}

.bug-report-form textarea {
    min-height: 100px;
}

.single-report {
    width: 100%;
    margin: 8px 0;
}

.report-header,
.report-footer {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    background-color: var(--colour-green-dark);
}

.report-content {
    padding: 5px;
    background-color: var(--colour-silver-dark);
}

.report-success {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    font-size: 28px;
    text-align: center;
    color: var(--colour-green-dark);
    background-color: var(--colour-green-light);
    border: 2px var(--colour-green-dark) solid;
}
