.menu {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100vw;
    background-color: var(--colour-grey-ligth);
    transition: .3s ease-in-out;
}

.menu.active {
    left: 0;
}

.tiles {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    margin: 50px 25px 20px;
    flex: 1 1 120px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*flex: 1 1 130px;*/
    flex: 1 1 30%;
    height: 18%;
    margin: 6px;
    padding: 6px;
    background-color: var(--colour-green-dark);
    text-transform: capitalize;
    transition: .2s;
    font-size: 19px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.tile.active {
    animation: fade-in .5s;
}

.tile:hover {
    background-color: var(--colour-green-light);
}

.tile .icons {
    display: flex;
}

.tile i {
    font-size: 45px;
}

.tile.profile-info {
    display: flex;
    flex-direction: row;
    flex-basis: 240px;
    background-color: var(--colour-grey-ligth);
    color: var(--colour-green-dark);
    border: solid var(--colour-green-dark) 2px;
    padding: 0 0 0 6px;
}

.tile.profile-info form {
    height: 100%;
    margin: 0 0 0 6px;
}

.tile.profile-info button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
}

.tile.bug-report {
    background-color: #aa5555;
    max-width: 40vw;
}

.tile.bug-report:hover {
    background-color: #cc4545;
}

@media (orientation: landscape) {
    .tile {
        height: 30%;
        flex: 1 1 18%;
    }
}

@media (max-width: 320px) {
    .tile {
        flex: 1 1 123px;
    }
}

@media (min-width: 900px) {
    .tile {
        font-size: 24px;
    }

    .tile i {
        font-size: 60px;
    }
}

@media (min-width: 1280px) {
    .tile {
        font-size: 30px;
    }

    .tile i {
        font-size: 80px;
    }
}

@media (min-width: 1920px) {
    .tile {
        font-size: 40px;
    }

    .tile i {
        font-size: 100px;
    }
}
