<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <title data-th-text="#{menu.about}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png">
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main block-of-text">
    <h1 data-th-text="#{about.hi}"></h1>
    <h1 data-th-text="#{about.my-name-is}">My name is Jakub.</h1>
    <p>
        <span data-th-text="'&emsp;&emsp;' + #{about.paragraph1.1} + '&nbsp;'"></span>
        <i class="fa-brands fa-java"></i>
        <span data-th-text="'&nbsp;' + #{about.paragraph1.2}"></span>
    </p>
    <p data-th-text="'&emsp;' + #{about.paragraph2}"></p>
    <h3 data-th-text="#{about.thank-you}"></h3>

    <div class="socials">
        <h2 data-th-text="#{about.github}"></h2>
        <a class="github-logo" href="https://github.com/JakubRostowski" rel="noopener noreferrer" target="_blank">
            <i class="fa-brands fa-github"></i></a>
    </div>

</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>