<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title>About The Author</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main author-content">
    <h1>Hi!</h1>
    <h1>My name is Jakub.</h1>
    <p> &emsp; Besides being a fan of cinematography, I am also an aspiring <i class="fa-brands fa-java"></i> Java
        Developer. Just like watching movies, programming satisfies me. The key difference here is activity - when
        coding I am an active creator, responsible for my work and ready to take on a challenge.</p>
    <p> &emsp; Creating this project was a great experience. I am glad to see how much this project has developed. I
        am also aware of importance of continuity - development process never ends. I am looking forward to
        participating in larger projects. There is still a lot of study ahead of me. It just makes me more
        excited.</p>
    <h3>Thank you for visiting this site.</h3>

    <div class="socials">
        <h2>Please visit my github:</h2>
        <a href="https://github.com/JakubRostowski" class="github-logo" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i></a>
    </div>

</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>