<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title>Admin Panel</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main">
    <h1>User List</h1>
    <table class="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Promote/Demote</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.role}">
            <td>
                <form th:action="@{/change-role/__${user.userId}__}" method="POST">
                    <button th:if="${user.role} == ROLE_USER" type="submit">promote</button>
                    <button th:if="${user.role} == ROLE_ADMIN and ${user.userId} != ${session.user.userId}"
                            type="submit">
                        demote
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="page-menu" th:if="${totalPages > 1}">

        <a th:if="${currentPage != 1}" th:href="@{'/admin-panel/page/1'}">First</a>
        <span th:unless="${currentPage != 1}">First</span>

        <a th:if="${currentPage > 1}" th:href="@{'/admin-panel/page/' + ${currentPage - 1}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>

        <div>
            <span>Page <input class="page-input" type="number" th:value="${currentPage}"> of</span>
            <span th:text="${totalPages}" class="page-max"></span>
        </div>

        <a th:if="${currentPage < totalPages}" th:href="@{'/admin-panel/page/' + ${currentPage + 1}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/admin-panel/page/' + ${totalPages}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>

</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
<script th:src="@{/scripts/page-menu.js}"></script>
</html>