<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <title>Bug Reports</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">

        <h1>Reported bugs</h1>
        <h2 th:if="${reports.isEmpty()}">No data at the moment.</h2>
        <div class="single-report" th:each="report : ${reports}">
            <div class="report-header">
                <span th:text="'Issue #' + ${report.bugReportId}"></span>
                <form method="post" th:action="'/bug-reports/change-status/' + ${report.bugReportId}">
                    <select name="status" onchange="this.form.submit()">
                        <option th:each="status : ${reports.get(0).getStatus().values()}"
                                th:selected="${status.equals(report.status)}" th:text="${status}"
                                th:value="${status}"></option>
                    </select>
                </form>
            </div>
            <div class="report-content">
                <p th:text="${report.getDescription()}"></p>
            </div>
            <div class="report-footer">
                <div>
                    <span>Modified:</span>
                    <span th:text="${report.getSimpleTimeOfModification()}"></span>
                </div>
                <div>
                    <span>Created:</span>
                    <span th:text="${report.getSimpleTimeOfCreation()}"></span>
                </div>
            </div>
        </div>

        <div th:include="fragments/page-menu :: page-menu" th:remove="tag"></div>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>