<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <a th:href="@{/}">
            <img class="logo" th:src="@{/img/logo_light_border_gradient.png}" alt="logo" />
        </a>
        <i class="fa-solid fa-bars menu-icon"></i>
    </div>
</div>

</body>
</html>