<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title>Homepage</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">

    <h1>Welcome!</h1>
    <div class="welcome-text">
        <p>&emsp; This is a website I've written for educational purposes. My goal was to use Spring Boot and its
            modules to provide a modern web application based on the most efficient technologies.</p>
        <p>&emsp; I decided to combine this goal with my second passion - cinematography. The idea was simple - a web
            application designed to download, store and display data from Filmweb website.</p>
        <p>The project isn't finished yet, but if you can see it, it means I've decided it's ready to show to the
            world.</p>
    </div>
    <h2>Enjoy :)</h2>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>