<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

</head>
<body>
<h1>This is homepage!</h1>

<div th:if="${session.user}">
    <p th:text="'Username: ' + ${session.user.username} + ', Email: ' + ${session.user.email}"></p>
</div>

<div th:if="${session.user == null}">
    <a href="/login">Login</a>
</div>

<form th:if="${session.user}" th:action="@{/logout}" method="POST">
    <button type="submit">Login</button>
</form>

</body>
</html>