<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title th:text="${webpageTitle}"></title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main">
    <h1 th:text="${webpageTitle}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Overall Rate</th>
            <th>Critics Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.position}"/>
            <td>
                <a th:text="${movie.title}" th:href="@{/movies/__${movie.movieId}__}"></a>
            </td>
            <td th:text="${movie.year}"/>
            <td th:text="${movie.director}">
            <td th:text="${movie.rate}"/>
            <td th:text="${movie.criticsRate}">
        </tr>
        </tbody>
    </table>
    <h2 th:if="${movies.isEmpty()}">No data at the moment.</h2>

    <div th:include="fragments/page-menu :: page-menu" th:remove="tag"></div>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
<script th:src="@{/scripts/page-menu.js}"></script>
</html>