<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <title th:if="${rankType.equals('Top 500')}" th:text="#{rank-type.top500}"></title>
    <title th:if="${rankType.equals('Inactive Movies')}" th:text="#{rank-type.inactive}"></title>
    <title th:if="${rankType.equals('Polish Movies')}" th:text="#{rank-type.polish}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png">
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main">
    <h1 th:text="${rankType}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th th:unless="${rankType.equals('Inactive Movies')}" data-th-text="#{movie-info.rank}"></th>
            <th data-th-text="#{movie-info.title}"></th>
            <th data-th-text="#{movie-info.year}"></th>
            <th data-th-text="#{movie-info.director2}"></th>
            <th data-th-text="#{movie-info.overall-rate}"></th>
            <th data-th-text="#{movie-info.critics-rate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.position}" th:unless="${rankType.equals('Inactive Movies')}"/>
            <td>
                <a th:href="@{/movies/__${movie.movieId}__}" th:text="${movie.title}"></a>
            </td>
            <td th:text="${movie.year}"/>
            <td th:text="${movie.director}">
            <td th:text="${movie.rate}"/>
            <td th:text="${movie.criticsRate}">
        </tr>
        </tbody>
    </table>
    <h2 th:if="${movies.isEmpty()}" data-th-text="#{common.no-data}"></h2>

    <div th:include="fragments/page-menu :: page-menu" th:remove="tag"></div>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
<script th:src="@{/scripts/page-menu.js}"></script>
</html>