<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/movie-info.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title th:text="${movie.title}"></title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png">
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main class="main">
    <div class="movie-summary">
        <img alt="movie poster" th:src="${movie.poster}">
        <div class="movie-summary-data">
            <h1 th:text="${movie.position} + '.'" th:unless="${movie.position == -1}"></h1>
            <h1 th:text="${movie.title}"></h1>
            <h2 th:text="'(' + ${movie.year} + ')'"></h2>
            <h3 th:text="${movie.originalTitle}"></h3>
        </div>
    </div>
    <div class="movie-details">
        <h2>Details</h2>
        <table>
            <tbody>
            <tr>
                <th>Director:</th>
                <td th:text="${movie.director}"></td>
            </tr>
            <tr>
                <th>Screenwriter:</th>
                <td th:text="${movie.screenwriter}"></td>
            </tr>
            <tr>
                <th>Country of Origin:</th>
                <td th:text="${movie.countryOfOrigin}"></td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td th:text="${movie.length}"></td>
            </tr>
            <tr>
                <th>Genre:</th>
                <td th:text="${movie.genre}"></td>
            </tr>
            </tbody>
        </table>

        <h2>Rating</h2>
        <table class="table-with-charts">
            <tbody>
            <tr>
                <th>Overall:</th>
                <td>
                    <span class="rate-value" th:text="${movie.rate}"></span>
                    <canvas class="chart-rate rate"></canvas>
                </td>
            </tr>
            <tr th:unless="${movie.criticsRate} == -1">
                <th>Critics Only:</th>
                <td>
                    <span class="critics-rate-value" th:text="${movie.criticsRate}"></span>
                    <canvas class="chart-rate critics-rate"></canvas>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>Statistics</h2>
        <div class="chart-container">
            <canvas class="chart-history-rank"></canvas>
        </div>
        <div class="chart-container">
            <canvas class="chart-history-rate"></canvas>
        </div>
        <script th:inline="javascript">
            const movie = [[${movie}]]
        </script>
    </div>

</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
<script th:src="@{/scripts/chart.js}"></script>
</html>