<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <title>News</title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png">
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">
    <div sec:authorize="hasRole('ADMIN')" th:remove="tag">

        <h1 class="news-header">Add post</h1>
        <form class="post-form" method="POST" th:action="@{/posts/save}">
            <div th:text="${nullFields}" th:unless="${nullFields == null}"></div>

            <input name="title" placeholder="Title" type="text">
            <textarea class="content-box" name="content" placeholder="Content"></textarea>
            <button type="submit">Publish</button>
        </form>
    </div>
    <h1 class="news-header">Posts</h1>
    <h2 th:if="${posts.isEmpty()}">No data at the moment.</h2>

    <div class="single-post" th:each="post : ${posts}">

        <div class="post-header">
            <div class="post-title" th:text="'#' + ${post.postId} + ' ' + ${post.title}"></div>
            <div class="post-author" th:text="'by ' + ${post.author.username}"></div>
        </div>

        <div class="post-content">
            <p th:text="${post.content}"></p>
            <div class="post-footer">
                <div>
                    <form class="like-form" method="post" th:action="@{'/posts/toggle-like/'+ ${post.getPostId()}} "
                          th:attr="data-form-id=${post.getPostId()}">

                        <i class="fa-solid fa-thumbs-up like-icon" th:attr="data-icon-id=${post.getPostId()}"
                           th:classappend="${post.isPostLikedByUser(userName)} ? active : ''"></i>
                        <span th:text="${post.getLikes().size()}"></span>
                    </form>

                </div>
                <span class="post-time" th:text="${post.getSimpleTimeOfCreation()}"></span>
            </div>
        </div>
    </div>

    <div th:include="fragments/page-menu :: page-menu" th:remove="tag"></div>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
<script th:src="@{/scripts/like.js}"></script>
</html>