<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title>News</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">
    <div th:if="${session.user}" th:remove="tag">

        <h1>Add post</h1>
        <form class="post-form" th:action="@{/posts/save}" method="POST">
            <div th:unless="${nullFields == null}" th:text="${nullFields}"></div>

            <input type="text" name="title" placeholder="title">
            <textarea class="content-box" name="content" placeholder="content"></textarea>
            <button type="submit">Publish</button>
        </form>
    </div>
    <h1>Posts</h1>
    <h2 th:if="${posts == null}">No data at the moment.</h2>

    <div class="single-post" th:each="post : ${posts}">

        <div class="post-header">
            <div class="post-title" th:text="'#' + ${post.postId} + ' ' + ${post.title}"></div>
            <div class="post-author" th:text="'by ' + ${post.author.username}"></div>
        </div>

        <div class="post-content">
            <p th:text="${post.content}"></p>
        </div>

    </div>

    <div th:include="fragments/page-menu :: page-menu" th:remove="tag"></div>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>