<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/26a506ddd8.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">
    <form th:if="${session.user}" th:action="@{/posts/save}" method="POST">
        <div th:unless="${nullFields == null}" th:text="${nullFields}"></div>

        <input type="text" name="title" placeholder="title">
        <input type="text" name="content" placeholder="content">
        <button type="submit">Publish</button>
    </form>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>