<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/26a506ddd8.js"></script>
    <title>Register Form</title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png">
</head>
<body>
<header th:include="fragments/header :: header" th:remove="tag"></header>
<main th:class="main">
    <h1>Register</h1>

    <div th:if="${registrationError}">
        <span class="error" th:text="${registrationError}"></span>
    </div>

    <form class="entry-form" method="post" th:action="@{/register/save}" th:object="${user}">
        <input placeholder="Name" th:field="*{username}" type="text">
        <div class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>

        <input placeholder="Email" th:field="*{email}" type="text">
        <div class="error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>

        <input placeholder="Password" th:field="*{password}" type="password">
        <div class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>

        <input placeholder="Confirm password" th:field="*{confirmPassword}" type="password">
        <div class="error" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}"></div>

        <button class="entry-button" type="submit">Save</button>
    </form>
</main>
<aside th:include="fragments/menu :: menu" th:remove="tag"></aside>
<footer th:include="fragments/footer :: footer" th:remove="tag"></footer>
</body>
<script th:src="@{/scripts/menu.js}"></script>
</html>